<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include custom-foot.html %}
    
<!-- Default Statcounter code for SeoulPlay
https://seoulplay.github.io -->
<script type="text/javascript">
var sc_project=11896805; 
var sc_invisible=1; 
var sc_security="e17ecf2c"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="free hit
counter" href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11896805/0/e17ecf2c/1/" alt="free
hit counter"></a></div></noscript>
<!-- End of Statcounter Code -->
    
  </body>
</html>
